<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/login.css">
    <title>Login</title>
</head>
<body>
    <!-- Message div for notifications -->
    <div id="message" class="message"></div>
    <div class="message-overlay"></div>

    <nav class="navbar">
        <div class="navbar-left">
            <a href="/src/views/interfaz.html" class="logo">
                <img src="/public/images/logo.jpg" alt="Logo" />
            </a>
        </div>
        <div class="navbar-center">
            <ul>
                <li>
                    <a href="#">
                        <img src="/public/images/message.png" alt="Mensajes" />
                        <span>Ayuda</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/public/images/notification.png" alt="Notificaciones" />
                        <span>Olvidé la contraseña</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="wrapper">
        <div class="form-box login">
            
            <h2>Acceso</h2>
            <form id="loginForm" action="/auth/login" method="POST">
                <div class="input-box">
                    <input type="email" id="loginEmail" name="email" required>
                    <label>Correo electrónico</label>
                    <i class='bx bxs-user'></i>
                </div>
                <div class="input-box">
                    <input type="password" id="loginPassword" name="password" required>
                    <label>Contraseña</label>
                    <i class='bx bxs-lock-alt'></i>
                </div>
                <button class="btn" type="submit">Acceso</button>
                <div class="logreg-link">
                    <p>¿No tienes una cuenta? <br> <a href="/register">Regístrate aquí</a></p>
                </div>
                              
            </form>
        </div>
        <div class="info-text login">
            <h2 class="animation" style="--i:0; --j:20;">¡Bienvenido!</h2>
            <p class="animation" style="--i:1; --j:21;">
                Conecta con empresas y profesionales<br>
                Encuentra oportunidades laborales exclusivas<br>
                Desarrolla tu red profesional<br>
                Mantente actualizado en tu industria</p>
        </div>
    </div>
    
    <script src="/public/js/login.js"></script>
</body>
</html>
